<!-- Footer -->
<footer class="footer">
    <div class="row">
     <div class="col-1">        
     </div>
     <div class="col-10">
         <div class="row">
             <a href="index.html">
                 <img class="logo" src="images/logo/white.png" alt="">
             </a>
         </div>
         <div class="row">
             <div class="col">
                 <span>PT.Global Multi Solusi</span>
                 <a href="https://www.google.com/maps/place/Jl.+Sriwijaya+No.23,+RT.002%2FRW.06,+Keputran,+Kec.+Tegalsari,+Surabaya,+Jawa+Timur+60265/@-7.2799337,112.7397032,17z/data=!3m1!4b1!4m6!3m5!1s0x2dd7fbc3ac478799:0xab6116650e37e89c!8m2!3d-7.2799337!4d112.7422835!16s%2Fg%2F11c4jvf2vh">Jl. Sriwijaya No.23 
                     Surabaya, Jawa Timur
                     60265 </a>
             </div>
             <div class="col">
                 <span>Contact Us</span>
                 <span>Email</span>
                 <a href="mailto:sales@globalmultisolusi.com">sales@globalmultisolusi.com</a>
                 <span>Call Us</span>
                 <a href="tel:+62315664551">+62 31 566 4551</a>
             </div>
             <div class="col">
                 <span>Others</span>
                 <a href="services.html">Services and Solutions</a>
                 <a href="products.html">Products</a>
             </div>
             <div class="col">
                 <span>Copyright</span>
                 <p>@ PT Global Multi Solusi</p>
                 <p>Disclaimer</p>
                 <p>Privacy policy</p>
             </div>
         </div>
     </div>
     <div class="col-1"></div>
    </div>
 </footer>
 
 <style>
     .footer {
         background-color: var(--blue);
         padding: 5% 0%;
         color: white;
         font-size: smaller;
     }
 
     .footer .logo {
         width: 100px;
     }
 
     .footer span {
         font-weight: 500;
     }
 
     .footer a {
         color: white;
     }
 
     .footer a:hover {
         color: var(--yellow);
     }
 </style>