<div class="container">
    <div class="row">
        <div class="col">
            <div class="fullcard" data-toggle="modal" data-target="#product1">  
                <img src="../../images/products/merrick/EDS-440.png" alt="">
                <div class="card-text">
                    <h4 class="">EDS-440</h4>      
                    <p class="card-desc">This router is made of steel. Can be used accross 20 m radius.</p>  
                </div>    
            </div>    
        </div>    
        <div class="col">
          <div class="fullcard" data-toggle="modal" data-target="#product2">  
              <img src="../../images/products/merrick/EDS-778.png" alt="">
              <div class="card-text">
                  <h4 class="">EDS-778</h4>      
                  <p class="card-desc">Description of the product is as follow because of the</p>  
              </div>    
          </div>    
      </div>    
      <div class="col">
        <div class="fullcard" data-toggle="modal" data-target="#product3">  
            <img src="../../images/products/merrick/TRUI-90.png" alt="">
            <div class="card-text">
                <h4 class="">TRUI-90</h4>      
                <p class="card-desc">Description of the product is as follow because of the</p>  
            </div>    
        </div>    
    </div>    
    </div>
</div>

<!-- Prosuct 1 -->
<div class="modal fade" id="product1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">EDS-440</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <img src="../../images/products/merrick/EDS-440.png" alt="">
              </div>
              <div class="col-6">                 
                <p>This router is made of steel. Can be used accross 20 m radius.</p>
                <a href="mailto:sales@globalmultisolusi.com" class=""><div class="yellow-button">Get A Quote</div></a>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Prosuct 2 -->
<div class="modal fade" id="product2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">EDS-778</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <img src="../../images/products/merrick/EDS-778.png" alt="">
            </div>
            <div class="col-6">                 
              <p>More description over here</p>
              <a href="" class=""><div class="yellow-button">Get A Quote</div></a>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Prosuct 3 -->
<div class="modal fade" id="product3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">TRUI-90</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <img src="../../images/products/merrick/TRUI-90.png" alt="">
            </div>
            <div class="col-6">                 
              <p>More description header.</p>
              <a href="" class=""><div class="yellow-button">Get A Quote</div></a>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  

<style>
</style>